[workspace]
members = ["crates/tupa-lexer", "crates/tupa-parser", "crates/tupa-typecheck", "crates/tupa-cli", "crates/tupa-codegen", "crates/tupa-audit"]
resolver = "2"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
lto = "fat"
